# ローカルで作業するファイル名は'_'で開始する
_*

# develop*という名前のファイルはローカル作業ディレクトリ
develop*/

# 万が一作業設定が間違っていたとしても、データだけは上げない
*.csv
*.xlxs
*.xls
*.pdf
*.pptx
*.png
*.jpg
*.jpeg
*.eps

# Macで作業するために
.DS_Store

# 作業履歴を残さない
doc/

data/
